version: "3.8"

services:
  mongon:
    image: mongo:latest
    container_name: mongon
    ports:
      - "27018:27018"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  # redis:
  #   image: redis:alpine
  #   container_name: redis
  #   ports:
  #     - "6379:6379"

  rabbitmqm:
    image: rabbitmq:3-management
    container_name: rabbitmqm
    ports:
      - "5673:5673" # RabbitMQ server
      - "15673:15673" # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  app:
    build: .
    container_name: notification-service
    ports:
      - "8080:8080"
    environment:
      MONGO_URI: mongodb://root:example@mongon:27018
      REDIS_ADDR: redis:6379
      REDIS_PASSWORD: ""
      RABBITMQ_URL: amqp://admin:admin@rabbitmqm:5672/
    depends_on:
      - mongon
      - rabbitmqm
    # - redis

volumes:
  mongo_data:
